functions

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

def load_data(path):
    df = pd.read_csv(path)
    # arham check this later
    # original = pd.read_csv('/kaggle/input/obesity-or-cvd-risk-classifyregressorcluster/ObesityDataSet.csv')
    # split to train test
    train_df, test_df = train_test_split(df, test_size=0.35, random_state=42)
    train_df = train_df.drop(['id'], axis=1).drop_duplicates().reset_index(drop=True)
    test_df = test_df.drop(['id'], axis=1).drop_duplicates().reset_index(drop=True)
    return train_df, test_df

def encode_target(train):
    target_key = {'Insufficient_Weight': 0, 'Normal_Weight': 1, 'Overweight_Level_I': 2, 'Overweight_Level_II': 3, 'Obesity_Type_I': 4,'Obesity_Type_II' : 5, 'Obesity_Type_III': 6}
    train['NObeyesdad'] = train['NObeyesdad'].map(target_key)
    return train

def decode_target(train):
    target_key = {0: 'Insufficient_Weight', 1: 'Normal_Weight', 2: 'Overweight_Level_I', 3: 'Overweight_Level_II', 4: 'Obesity_Type_I', 5: 'Obesity_Type_II', 6: 'Obesity_Type_III'}
    train['NObeyesdad'] = train['NObeyesdad'].map(target_key)
    return train

Data

In [9]:



path = '/Users/arham/Downloads/Projects/01-Dataset/01-Data-for-model-building/train.csv'
train, test = load_data(path)

EDA

In [13]:
train

## gender
train['Gender'].value_counts()

Female    6789
Male      6703
Name: Gender, dtype: int64

Feature Engineering

In [11]:
train['NObeyesdad'].unique()

array(['Obesity_Type_II', 'Overweight_Level_II', 'Normal_Weight',
       'Obesity_Type_III', 'Obesity_Type_I', 'Overweight_Level_I',
       'Insufficient_Weight'], dtype=object)

In [12]:
train = encode_target(train)
train

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Male,23.586058,1.750000,119.434645,yes,yes,1.655684,3.000000,Sometimes,no,2.000000,no,1.097983,0.738935,Sometimes,Public_Transportation,5
1,Male,24.565628,1.769328,85.079589,yes,yes,1.979944,3.566082,Sometimes,no,2.000000,no,0.000000,1.944675,Sometimes,Public_Transportation,3
2,Female,22.000000,1.650000,60.000000,yes,yes,3.000000,3.000000,Frequently,no,2.000000,no,3.000000,0.000000,no,Walking,1
3,Female,25.930376,1.610086,104.954291,yes,yes,3.000000,3.000000,Sometimes,no,2.411582,no,0.001297,0.656491,Sometimes,Public_Transportation,6
4,Male,33.000000,1.700000,97.000000,yes,yes,2.000000,3.000000,Always,no,2.000000,no,3.000000,0.000000,Frequently,Automobile,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13487,Female,18.000000,1.722461,80.442775,yes,yes,2.628791,2.562895,Sometimes,no,1.844645,no,0.288032,0.722276,no,Public_Transportation,2
13488,Male,22.000000,1.750000,95.000000,yes,no,3.000000,3.000000,Sometimes,no,2.000000,no,3.000000,0.000000,Sometimes,Public_Transportation,3
13489,Male,21.000000,1.620000,68.000000,no,yes,2.000000,3.000000,Always,no,3.000000,no,2.000000,0.000000,Sometimes,Public_Transportation,2
13490,Female,26.000000,1.650125,111.939671,yes,yes,3.000000,3.000000,Sometimes,no,2.770732,no,0.000000,0.237307,Sometimes,Public_Transportation,6
13491,Male,37.997912,1.774330,107.998815,yes,yes,2.964419,2.902766,Sometimes,no,2.745242,no,2.545707,0.000000,Sometimes,Automobile,4